body{
    font-family: 'Poppins', sans-serif;
    color: #575757;
    margin: 0%;
}
.flexible-container{
    display: flex;
    margin: 5%;
}
.imagine{
    padding-right: 25%;
    padding-bottom: 5%;
}
.half-width{
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin: 0%;
}
.half-width img{
    width: 100%;
    margin: 0%;
    padding-left: 2%;
    padding-right: 2%;
}
.f8{
    width: 60%;
    padding-right: 10%;
    padding-left: 15%;
    padding-bottom: 0%;
}
.f8-png{
    display: block;
}
.about-me{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.about-title{
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 2%;
}
.skip{
    color: #FC8A46;
}
.the-diet{
    font-size: 65px;
    font-weight: bold;
    margin: 0%;
    padding-top: 20%;
}
.link-button{
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-image: repeating-linear-gradient(#FD4E30, #FB8E48);
    padding: 15px 40px;
    border-radius: 100px;
}
.about-sub{
    color: black;
    padding-bottom: 10%;
}
.about-bg{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-top: 1px;
    padding-bottom: 0%;
}
.my-recipies{
    font-size: 32px;
    font-weight: 900;
    
}
.recipies{
    text-align: center;
    padding-left: 28%;
    padding-right: 28%;
}
.recipie-container{
    display: flex;
    margin-top: 2%;
}
.food1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 100px rgb(202, 202, 202);
    border-radius: 15px;
}
.food1 img{
    width: 90%;
}
.food{
    margin: 5%;
}
.food-text{
    margin: 5%;
    color: black;
}
.recipie{
    margin: 0%;
}
.followers{
    display: flex;
    width: 90%;
    box-shadow: 10px 10px 100px rgb(202, 202, 202);
    border-radius: 15px;
    margin: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.social-media{
    margin-left: 10%;
    margin-right: 10%;
}
.count{
    font-size: 40px;
    font-weight: 800;
    margin: 0%;
}
.count-text{
    margin: 0%;
    font-size: 14px;
}
.eat-fresh{
    text-align: center;
    color: rgb(212, 212, 212);
}
.eat{
    color: #FC8A46;
}
footer{
    background-color: #0B0D17;
    padding-top: 2%;
    padding-bottom: 2%;
}