body{
    font-family: 'Poppins', sans-serif;
    color: #575757;
    margin: 0%;
}
.flexible-container{
    display: flex;
    margin: 5%;
}
.imagine{
    padding-right: 25%;
    padding-bottom: 5%;
}
.half-width{
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    margin: 0%;
}
.half-width img{
    width: 100%;
    margin: 0%;
    padding-left: 2%;
    padding-right: 2%;
    
}
.skip{
    color: #FC8A46;
}
.the-diet{
    font-size: 65px;
    font-weight: bold;
    margin: 0%;
    padding-top: 20%;
}
.link-button{
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-image: repeating-linear-gradient(#FD4E30, #FB8E48);
    padding: 20px 40px;
    border-radius: 100px;
    
}